html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  background-color: #fde49e;
}

#container {
  padding: 10px;
  display: flex;
  border: 12px solid brown;
  flex-direction: row;
  gap: 5px;
  height: 960px;
  width: 960px;
  border-radius: 15px;
  margin: 50px auto;
  box-shadow: 15px 15px 5px black;
  background-color: white;
}

.subDiv {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 5px;
}

.box {
  flex: 1 1 auto;
  border-radius: 6px;

  border: lightgrey solid 2px;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover {
  background-color: black;
}
